<!-- templates/partials/comment_form.html -->

<form action='/finished' method='POST'>
<legend>How does that make you feel?</legend>
        <input type='text' name='comment'>

        <input type='submit' value='Submit'>

</form>

    <!--<fieldset>
        <legend>Your Feelings?</legend> -->
        <!-- TITLE -->
        <!-- <div class='form-group'>
            <label for='comment-title'>Your Name</label><br>
            <input class='form-control' name='comment'>
        </div> -->

        <!-- DESCRIPTION -->
        <!-- <div class='form-group'>
            <label for='comment'>How does this make you feel?</label><br>
            <input type='text' name='comment'>
        </div>
    </fieldset> -->

    <!-- BUTTON -->
    <!-- <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Submit</button>
    </div>
</form> -->
